include handicraft_export/handicraft/doctype/*/*.json
include handicraft_export/handicraft/doctype/*/*.js
include handicraft_export/handicraft/print_format/*/*.json
include handicraft_export/handicraft/print_format/*/*.html
include handicraft_export/handicraft/report/*/*.json
include handicraft_export/handicraft/report/*/*.js
include handicraft_export/handicraft/report/*/*.py
include handicraft_export/handicraft/notification/*/*.json
include handicraft_export/handicraft/workspace/*/*.json
include handicraft_export/public/js/*.js
include handicraft_export/public/css/*.css
